
/* Your CSS Code here. */
*{
	padding:0;
	margin:0;
}
h1{
	background-color:black;
	color:wheat;
	text-align:center;
	font-size:50px;
	font-display:bold;
	border:5px red strong;
}
.navigation{
	display:flex;
	justify-content:space-around;
	background-color:#FAEB92;
	height:50px;
	align-items:center;
}
a{
	color:red;
	font-style:none;
}
.summary
{
	background-color:#FF5FCF;
	border-top:3px black solid;
}
.bottom{
   display:grid;
	grid-template-rows:1.5fr;
	grid-template-columns:1.5fr 0.5fr;
}
.sidebar{
	grid-row:1/3;
	grid-column:2/3;
	background-color:#FAEB92;
}
#actor{
	grid-row:1/2;
	background-color:#9929EA;
	border-bottom:2px black solid;
		
}
#quote{
	grid-row:2/3;
	background-color:#9929EA;
   outline:2px black solid;
	}
footer{
	height:20vh;
	text-align:center;
	font-weight:30px;
	font-size:25px;
	background-color:#FF5FCF;
	
}
